.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    width: 50%;
    backdrop-filter: blur(2px);
    border-radius: 25px;
    border: 1px solid var(--primary-style-color);
    text-align: center;
    margin: 20px auto;
    padding: auto;
    box-shadow: 0 0 10px var(--shadow);
}
.form form{
    width: 100%;
    margin: auto;
}
.form h1{
    font-size: 2rem;
    font-family: "Signika Negative", sans-serif;
    color: var(--primary-style-color);
    margin-top:0;

}
.form button{
    width: 120px;
    height: 50px;
    margin: 10px;
    padding: 10px;
    border-radius: 25px;
    padding: 0;
    border: 1px solid var(--btn-color);
    background-color: var(--btn-color);
    color: white;
    font-weight: 700;
    cursor: pointer;
    font-family: "Signika Negative", sans-serif;
    font-size: 15px;
}
.form button:hover{
    transform: scale3d(1.1,1.1,1.1);
    background-color: var(--btn-color-hover);
}
.form input{
    width: 92%;
    height: 20px;
    margin: 10px;
    padding: 10px;
    border-radius: 25px;
    border: 1px solid var(--primary-style-color);
    display: flex;
    text-align: center;
    font-family: "Signika Negative", sans-serif;
    color: var(--primary-style-color);
    background: transparent;
}
.form h1{
    font-size: 2rem;
    font-family: "Signika Negative", sans-serif;
    color: var(--primary-style-color);
    margin-bottom: 20px;
}
.insertRow p{
    font-size: 1rem;
    font-family: "Signika Negative", sans-serif;
    color: var(--primary-style-color);
    margin-bottom: 5px;
}
.form textarea{
    background-color: transparent;
    width: 92%;
    height: 100px;
    margin: 10px;
    padding: 10px;
    border-radius: 25px;
    border: 1px solid var(--primary-style-color);
    display: flex;
    color: var(--primary-style-color);
}
