.contactus{
    margin-top: 0;
    margin-bottom: -25px;
    border-radius: 10px;
    background: var(--heading-fade); 
    box-shadow: 0 0 10px var(--shadow);
    padding-bottom:20px;
}
.contactuscontainer{
    text-align: center;
    height: 200px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    margin-top: -25px;
    background: var(--background-fade);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 0 10px;
    margin-bottom:10px;
}

.reachus, .followus {
    text-align: center;
    margin-top: 20px;
  }
  
  .followus .social-icons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
  }
  
  .followus .social-icon img {
    width: 40px;
    height: 40px;
  }
  .followcontact{
    color:var(--primary-style-color);
    font-size: 3rem;
    font-family: "Signika Negative", sans-serif;
  }
  .social-icon:hover{
    transform: scale3d(1.2,1.2,1.2);
  }
